@model Prototyp.Models.Discipline

@{
    ViewBag.Title = "Discipline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Form", "Discipline", FormMethod.Post))
    {
        <div class="pageContainer">
            <div class="pageLeft">
                <h1>Discipline</h1>
                <hr />
                <label for="disciplineName" class="input-label">Discipline Name:</label>
                @Html.TextBox("disciplineName", "", new { @class = "input", type = "text" })
                <br />
                <label for="disciplineCategory" class="input-label">Category:</label>

                @Html.DropDownList("disciplineCategory", new List<SelectListItem>
                                                               {
                                                                 new SelectListItem { Text = "High Jump", Value = "1"},
                                                                 new SelectListItem { Text = "Long Jump", Value = "2"},
                                                                 new SelectListItem { Text = "Shot Put", Value = "3"}
                                                               }, "Category Name", new { @class = "input" })
                <br />
            </div>
            <div class="pageRight">
                <div class="chooseItem search-field">
                    @Html.DropDownList("Disciplines", ViewBag.Disciplines as List<SelectListItem>, "Select Discipline", new { @class = "form-control search-field input" })

                </div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>

                <div style="text-align: right; padding-top: 20px;">
                    <a href="/Athlete/save">
                        <img src="~/Content/Pictures/Save.PNG" class="pageButton">
                    </a>
                    <a href="/Athlete/Cancle">
                        <img src="~/Content/Pictures/Cancle.PNG" class="pageButton">
                    </a>
                </div>
            </div>

        </div>

    }
</div>



