@{
    ViewBag.Title = "Event Page";
}
<div class="pageContainer">
    <div class="pageLeft">
        <h1>Events</h1>
        <hr />
        <div class="controlForm">
            <label class="input-label">Event Name:</label>
            <input type="text" class="eventName input" name="eventName"> 
            @Html.TextBox("eventName") <br />
            <label class="input-label">Date:</label>
            <input class="input" type="date" placeholder=" " /> <br />
            <label class="input-label" for="eventCity">City:</label>
            <input class="input" type="text" id="eventCity" name="eventCity">

            <br /> <br />

            <p>Disciplines</p>
            <form action="">
                <textarea name="disciplineName" class="textarea control-bg"></textarea> <br />
                <input type="text" class="disciplineName search control-bg text-white" name="disciplineName" placeholder="Discipline Name">
                <input type="submit" value="Submit">
                <input type="submit" value="Cancel">
                <br />
            </form>
        </div>

    </div>
    <div class="pageRight">
        <div class="chooseItem">
            <input class="control-bg search" type="text" value="Choose Event...">

        </div>

        <br /> <br /> <br />
        <div class="controlForm">
            <label for="startNoSet">Start No Set:</label>
            <input type="text" class="startNumber input" name="startNumber" placeholder="Set Number"> <br />

            <br /> <br /> <br />
            <p style="padding-top: 19px;">Clubs</p>
            <form action="">
                <textarea name="clubName" class="textarea control-bg"></textarea> <br />
                <input type="text" class="clubName search control-bg text-white" name="clubName" placeholder="Club Name">
                <input type="submit" value="Submit">
                <input type="submit" value="Cancel">
                <br />
            </form>
        </div>

        @*<input type="submit" value="Submit">
            <input type="submit" value="Cancel">*@

        <br />
        <div class="viewButtons">
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
        </div>
    </div>
</div>